In [78]:
import pandas as pd
import datetime
import calendar

In [262]:
data = pd.read_excel("data_cleaning.xlsx",sheet_name='Usage',index_col=None, header=None)

In [263]:
data.describe()

                                            0
count                                    8760
unique                                   8754
top       12PM  Mon 7th-Jul-2014___1.296 kwh
freq                                        2

In [264]:
data.columns=["electricity"]

In [265]:
data

                                    electricity
0         3 PM  Mon 24th-Mar-2014___0.384 kwh
1                5AM  15-Aug-2014___1.201  kwh
2          __8PM Thu 20-Mar-2014____1.523 kwh
3               6PM  23rd-Apr-2014___0.424  kwh
4     _1AM  Friday 19th-Dec-2014___0.209  kwh
...                                         ...
8755         _1AM  Fri 07th-Nov-2014_0.084 kwh
8756                _6AM 20-May-2014__1.027 kwh
8757   __2 AM  Tuesday 8th-Apr-2014___0.052 kwh
8758            9 PM 27th-Jan-2014_1.428  kwh
8759          _12 PM 25th-Aug-2014_0.528  kwh

[8760 rows x 1 columns]

In [266]:
for i in range(data.shape[0]):
    data['electricity'][i] = data['electricity'][i].replace("kwh", "")
    data['electricity'][i] = data['electricity'][i].strip() 
    data['electricity'][i] = data['electricity'][i].strip("_")

In [267]:
for i in range(data.shape[0]):
    if "AM" in data['electricity'][i]:
        ind = data['electricity'][i].index("AM")
        data['electricity'][i] = data['electricity'][i][:ind] + " " + data['electricity'][i][ind:]
    elif "PM" in data['electricity'][i]:
        ind = data['electricity'][i].index("PM")
        data['electricity'][i] = data['electricity'][i][:ind] + " " + data['electricity'][i][ind:]

In [268]:
data['electricity'] = [data['electricity'][x].replace("_", " ") for x in range(data.shape[0])]

In [269]:
list1 = [] #list len 4
list2 = [] #list len 5

for i in range(data.shape[0]):
    if len(data['electricity'][i].split()) == 4:
        list1.append((list(data['electricity'][i].split())))
    elif len(data['electricity'][i].split()) == 5:
        list2.append((list(data['electricity'][i].split())))

In [270]:
for i in range(len(list1)):
    if "st" in list1[i][2]:
        list1[i][2] = list1[i][2].replace("st", "")
    elif "nd" in list1[i][2]:
        list1[i][2] = list1[i][2].replace("nd", "")
    elif "rd" in list1[i][2]:
        list1[i][2] = list1[i][2].replace("rd", "")
    elif "th" in list1[i][2]:
        list1[i][2] = list1[i][2].replace("th", "")
        
for i in range(len(list2)):
    if "st" in list2[i][3]:
        list2[i][3] = list2[i][3].replace("st", "")
    elif "nd" in list2[i][3]:
        list2[i][3] = list2[i][3].replace("nd", "")
    elif "rd" in list2[i][3]:
        list2[i][3] = list2[i][3].replace("rd", "")
    elif "th" in list2[i][3]:
        list2[i][3] = list2[i][3].replace("th", "")

In [271]:
for i in range(len(list1)):
    list1[i].insert(2, list(calendar.day_abbr)[datetime.datetime.strptime(list1[i][2], '%d-%b-%Y').weekday()])

In [272]:
for i in range(len(list2)):
    if "Monday" in list2[i]:
        list2[i][2] = list2[i][2].replace("Monday", "Mon")
    elif "Tuesday" in list2[i]:
        list2[i][2] = list2[i][2].replace("Tuesday", "Tue")
    elif "Wednesday" in list2[i]:
        list2[i][2] = list2[i][2].replace("Wednesday", "Wed")
    elif "Thursday" in list2[i]:
        list2[i][2] = list2[i][2].replace("Thursday", "Thu")
    elif "Friday" in list2[i]:
        list2[i][2] = list2[i][2].replace("Friday", "Fri")
    elif "Saturday" in list2[i]:
        list2[i][2] = list2[i][2].replace("Saturday", "Sat")
    elif "Sunday" in list2[i]:
        list2[i][2] = list2[i][2].replace("Sunday", "Sun")

In [273]:
df1 = pd.DataFrame(list1, columns =['hour', 'a/pm', 'week', 'date', 'electric'])
df2 = pd.DataFrame(list2, columns =['hour', 'a/pm', 'week', 'date', 'electric'])

In [274]:
data = pd.concat([df1, df2])

In [236]:
data

     hour a/pm week         date electric
0       5   AM  Fri  15-Aug-2014    1.201
1       6   PM  Wed  23-Apr-2014    0.424
2       8   AM  Thu  14-Aug-2014    0.523
3       4   PM  Sat  25-Jan-2014    2.052
4       4   PM  Tue  11-Feb-2014    0.509
...   ...  ...  ...          ...      ...
4456    4   AM  Wed  18-Jun-2014    0.421
4457    1   AM  Tue   6-May-2014    0.162
4458    8   PM  Thu  11-Dec-2014    1.478
4459    1   AM  Fri  07-Nov-2014    0.084
4460    2   AM  Tue   8-Apr-2014    0.052

[8760 rows x 5 columns]

In [217]:
data[['electric']] = data[['electric']].apply(pd.to_numeric) # A
(data['electric'].sum())/len(data)

0.7817481735159818

In [218]:
data['date'].str.contains('Feb').sum()   #D

671

In [219]:
sum1 = 0
for i in data.loc[data['date'].str.contains('Feb'), 'electric']:
    sum1 = sum1 + i   
sum1/data['date'].str.contains('Feb').sum()

0.8337347242921048

In [220]:
data = data.loc[data['date'].str.contains('Feb'), ('electric', 'date','hour')]
data

      electric         date hour
4        0.509  11-Feb-2014    4
23       0.594  13-Feb-2014   12
27       0.228   5-Feb-2014    3
78       0.523  13-Feb-2014    4
85       0.233  19-Feb-2014    1
...        ...          ...  ...
4399     1.576  19-Feb-2014    5
4404     0.427  25-Feb-2014    3
4442     0.403   8-Feb-2014   10
4443     0.749  23-Feb-2014    1
4455     1.210   2-Feb-2014    3

[671 rows x 3 columns]

In [237]:
data = data.groupby('week').agg({'electric': 'sum'})

In [238]:
data

                                               electric
week
Fri   1.2011.2010.5460.6260.2720.6240.4450.4160.7850...
Mon   0.8740.380.1740.930.5380.300.2880.7560.2883.16...
Sat   2.0520.2030.9880.3260.1850.9860.2890.230.3672....
Sun   0.3850.2460.4030.5042.5580.1660.940.5240.2120....
Thu   0.5230.540.5940.8480.3840.1920.4181.1660.2690....
Tue   0.5090.5780.892.9120.840.1570.5620.1580.4310.7...
Wed   0.4240.4240.100.2280.6120.3760.9982.5740.5760....

In [196]:
data.sort_values('electric',ascending=False ).head(1)  #A

      electric
week
Sun   1120.556

In [200]:
data

      electric
week
Fri    942.083
Mon    906.642
Sat   1110.204
Sun   1120.556
Thu    931.476
Tue    903.154
Wed    933.999

In [254]:
data['datetime'] = data['date']+ (' ') + data['hour'] +data['a/pm']
data['datetime']

0       15-Aug-2014 5AM
1       23-Apr-2014 6PM
2       14-Aug-2014 8AM
3       25-Jan-2014 4PM
4       11-Feb-2014 4PM
             ...
4456    18-Jun-2014 4AM
4457     6-May-2014 1AM
4458    11-Dec-2014 8PM
4459    07-Nov-2014 1AM
4460     8-Apr-2014 2AM
Name: datetime, Length: 8760, dtype: object

In [255]:
data['datetime']= pd.to_datetime(data['datetime'])

In [256]:
data = data.sort_values('datetime')

In [257]:
data.electric.rolling(4).sum().max()    #A

17.237000000000002

In [275]:
data['month'] = pd.DatetimeIndex(data['date']).month

In [276]:
data.month

0        8
1        4
2        8
3        1
4        2
        ..
4456     6
4457     5
4458    12
4459    11
4460     4
Name: month, Length: 8760, dtype: int64

In [292]:
data.groupby('month').agg({'electric': 'sum'})

                                                electric
month
1      2.0520.890.5460.542.9120.840.8480.3840.3760.38...
2      0.5090.5940.2280.5230.2330.950.541.1810.6620.6...
3      0.9880.4160.8641.0090.1490.3881.4081.2160.1620...
4      0.4240.4240.100.4450.4180.5620.1660.5380.1130....
5      0.2720.3260.230.1620.3170.3040.3680.4030.2380....
6      0.7850.7560.942.0412.2250.4370.6372.4410.4322....
7      0.8740.9982.5582.1893.1681.1331.921.140.4941.1...
8      1.2010.5231.2010.3850.6120.5761.1660.3960.6770...
9      0.1850.1570.1580.1740.2691.4740.1551.210.5421....
10     0.6260.2460.1920.5040.2880.240.2880.1730.2120....
11     0.2030.4030.6240.2890.3670.7780.2070.1490.6870...
12     0.5780.9860.4310.300.8420.1960.4490.1780.1981....

In [293]:
['electric'].mul([0.2, 0.19,0.17,0.18,0.22,0.27,0.24,0.19,0.18,0.15,0.14,0.19], axis=0).sum()  #B

AttributeError: 'list' object has no attribute 'mul'

In [289]:
data['time'] = data['hour']+data['a/pm']

In [290]:
data.groupby('time').agg({'electric': 'sum'})

                                               electric
time
10AM  0.4310.1661.1330.6770.6620.6190.3070.2950.2451...
10PM  0.2030.2460.2880.3680.2070.2120.4520.6120.2390...
11AM  0.5780.2890.931.100.1691.140.4030.1471.110.540...
11PM  0.890.6120.3880.961.3561.4040.1411.090.8010.96...
12AM  0.5460.100.540.3960.4320.2830.1890.1760.3740.4...
12PM  0.5940.4160.940.1470.2840.3460.3761.0711.6271....
1AM   0.3760.4360.2330.1490.4940.1980.5580.1470.4070...
1PM   0.8740.3170.3040.3580.2850.6720.2350.9360.1150...
2AM   0.1580.4440.4990.1070.1740.5820.190.2520.0590....
2PM   0.4030.9860.5040.5760.7282.1890.6721.920.7121....
3AM   0.1850.2280.380.1570.1620.1550.1960.2860.090.3...
3PM   0.840.8420.1761.1560.4560.2480.4591.1480.1890....
4AM   0.3850.3840.230.3240.0710.1780.1620.1420.4460....
4PM   2.0520.5090.8480.9980.2690.2880.7560.5230.1210...
5AM   1.2011.2012.5740.2120.6180.1490.5940.8180.2810...
5PM   1.0090.6741.8790.9980.2841.423.1511.9441.6070....
6AM   0.6260.3671.1663.1682.2252.4411.1810.3640.2880...
6PM   0.4240.4242.9120.6240.4453.4922.0411.210.6872....
7AM   0.2160.950.5421.800.470.9070.4321.2531.2143.16...
7PM   0.5620.7781.4740.7051.1841.4244.2482.4840.6481...
8AM   0.5230.9880.2720.1922.5580.240.8640.9120.4490....
8PM   0.4180.5380.5242.561.4082.8510.8641.2161.0841....
9AM   0.1740.300.8640.1730.4370.6370.3690.2380.2280....
9PM   0.3260.7850.1130.3110.4250.8930.4330.7850.3230...

In [291]:
['electric'].mul([0.20, 0.10, 0.26 , 0.10, 0.10, 0.26, 0.10, 0.20, 0.10,0.24,0.10,0.18, 0.15,0.15,0.20,0.30,0.24,0.24,0.24,0.24,0.26,0.12,0.20,0.11], axis=0).sum()

AttributeError: 'list' object has no attribute 'mul'

In [287]:
summ=0                            #c
for i in data['electric']:
    summ=i * 0.21 + summ
summ

TypeError: can't multiply sequence by non-int of type 'float'